@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-26: 26px;
    --font-size-24: 24px;
    --font-size-36: 36px;

    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;
    --font-weight-xxl: 800;

    --color-black: black;
    --color-white: white;
    --color-1A9-lgblue: #1A9FFF;
    --form-control-color: rebeccapurple;
    --color-0099: #00000099;
    --color-001A: #0000001A;
    --color-0033: #00000033;
    --color-0014: #00000014;
    --color-FAFA: #FAFAFA;
    --color-red: red;
    --color-CCC: #CCCCCC;
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 4;
    background: var(--color-white);
    box-shadow: 0px 4px 35px 0px var(--color-0014);
}

.bg-image {
    background-image: url(../images/background-img.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
}

.pt-120 {
    padding-top: 120px;
}

.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.gap-25 {
    gap: 25px;
}

.gap-10 {
    gap: 10px;
}

.gap-59 {
    gap: 59px;
}

.gap-63 {
    gap: 63px;
}

.py-15 {
    padding: 15px 0;
}

.w-100 {
    width: 100%;
}

.justi-cont-space-btw {
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-8 {
    width: 66.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-3 {
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}

.NFT {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-xl);
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.follow:hover {
    cursor: pointer;
    color: var(--color-red);
}

.nav-fonts {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black);
    opacity: 60%;
}

.nav-fonts:hover {
    color: var(--color-black);
    opacity: unset;
}

.Search-here {
    padding: 8px 24px 8px 24px;
    border: 1px solid var(--color-0033);
    border-radius: 25.5px;
    height: 43px;
    color: var(--color-black);
    opacity: 60%;
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.toggle-box {
    height: 23px;
    width: 40px;
    border-radius: 11.5px;
    border: 1px solid var(--color-0033);
    position: relative;
}

.toggle-ball {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    background-color: var(--color-black);
    transition: all 200ms linear;
    cursor: pointer;

}

.toggle-ball-right {
    left: 16px;
    transition: all 200ms linear;
}

.img-circle {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.justi-cont-center {
    justify-content: center;
}

.gap-47 {
    gap: 47px;
}

.pt-100 {
    padding-top: 100px;
}

.card {
    box-shadow: 0px 38px 85px -19px #0000001A;
    padding: 39px 38px 38px 39px;
    border-radius: 30px;
    background: var(--color-white);
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-lg);
    line-height: 54px;
    letter-spacing: 0em;

}

.gap-44 {
    gap: 44px;
}

.card-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 27px;
    letter-spacing: 0em;
    color: var(--color-black);
    opacity: 60%;
}

.border-right {
    border-right: 1px solid var(--color-CCC);
    padding-right: 49px;
}

.pt-34 {
    padding-top: 34px;
}

.no-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-md);
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black);
    opacity: 60%;
}

.word-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black);
    opacity: 60%;
}

.edit-profile {
    padding: 8px 24px 8px 24px;
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-lg);
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 25.5px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--color-black);
}

.edit-profile:hover {
    color: var(--color-black);
    background: var(--color-white);
    border: 1px solid var(--color-black);
}

.line {
    border: 1px solid var(--color-CCC);
    width: 100%;
}

.mt-52 {
    margin-top: 52px;
}

.mb-23 {
    margin-bottom: 23px;
}

.sec-3-no {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 27px;
    letter-spacing: 0em;
    color: var(--color-white);
}

.svg-position-relative {
    position: relative;
}

.svg-position-absolute {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.w-90 {
    width: 90%;
}

.gap-80 {
    gap: 80px;
}

.gap-35 {
    gap: 35px;
}

.mt-34 {
    margin-top: 34px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-24 {
    margin-top: 24px;
}

.pb-50 {
    padding-bottom: 50px;
}

@media (max-width:992px) {
    .menuicon {
        width: 45px;
        height: 30px;
        position: absolute;
        left: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 6;
        top: 50%;
        transform: translateY(-50%);
    }

    .menuicon span {
        height: 4px;
        width: 100%;
        background-color: var(--color-black);
    }

    .menuicon .left {
        height: 4px;
        width: 50%;
        background-color: var(--color-black);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .menuicon .right {
        height: 4px;
        width: 50%;
        background-color: var(--color-black);
        position: absolute;
        top: 0;
        right: 0;
    }

    .lg-col-4 {
        width: 33.33%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .gap-44 {
        gap: 20px;
    }

    .border-right {
        border-right: 1px solid var(--color-CCC);
        padding-right: 20px;
    }

    .gap-47 {
        gap: 18px;
    }

    .show {
        left: 0 !important;
    }

    .nav-items {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: -100%;
        z-index: 5;
        transition: all 200ms linear;

    }

    .ml-60-lg {
        margin-left: 60px;
    }

    .Search-here {
        display: none;
    }
}


@media (min-width:992px) {
    .search-icon {
        display: none;
    }
}

@media (max-width:768px) {
    .menuicon {
        width: 30px;
        height: 25px;
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
    }

    .illuminati-img {
        width: 45px;
        height: 45px;
    }

    .md-my-16 {
        margin: 16px 0;
    }

    .NFT {
        font-size: var(--font-size-26);
    }

    .ml-60-lg {
        margin-left: 58px;
    }

    .gap-25 {
        gap: 19px;
    }

    .img-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .md-position {
        position: relative;
        left: 26%;
        bottom: -38px;
    }

    .md-flex-direction-col {
        flex-direction: column;
    }

    .loremmollis {
        text-align: center;
    }

    .heading {
        text-align: center;
    }

    .pt-34 {
        padding-top: 20px;
    }

    .md-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .gap-47 {
        gap: 5px;
    }
}

@media (max-width:576px) {
    .menuicon {
        width: 25px;
        height: 20px;
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
    }

    .menuicon span {
        height: 3px;
        width: 100%;
        background-color: var(--color-black);
    }

    .menuicon .left {
        height: 3px;
        width: 45%;
        background-color: var(--color-black);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .menuicon .right {
        height: 3px;
        width: 45%;
        background-color: var(--color-black);
        position: absolute;
        top: 0;
        right: 0;
    }

    .sm-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }


    .sm-flex-direction-col {
        flex-direction: column;
    }

    .sm-align-items {
        align-items: center;
    }

    .md-position {
        position: unset;
    }

    .sm-gap-28 {
        gap: 28px;
    }

    .mt-52 {
        margin-top: 23px;
    }

    .illuminati-img {
        width: 32px;
        height: 32px;
    }

    .NFT {
        font-size: var(--font-size-18);
    }

    .ml-60-lg {
        margin-left: 39px;
    }

    .gap-25 {
        gap: 10px;
    }

    .img-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .toggle-box {
        height: 14px;
        width: 28px;
    }

    .toggle-ball {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        position: absolute;
        left: -1px;
        background-color: var(--color-black);
        transition: all 200ms linear;
        cursor: pointer;

    }

    .toggle-ball-right {
        left: 13px;
        transition: all 200ms linear;
    }

    .sm-w-100 {
        width: 100%;
    }

    .py-130 {
        padding: 100px 0;
    }
}